.user-table{
  padding: 10px 10px;
}

.user-table table {
  width: 60%;
  text-align: center;
  font-size: 14px;
}

.user-table table i {
  color: grey;
}

.user-table .add-btn {
  margin-left: 60%;
  transform: translateX(-110%);
  margin-top: 15px;
  width: 15%;
  height: 25px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #ff6600;
}

/* for userModal style */
.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(0, 53, 102, 0.3);
}

.userModal {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 420px;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
  border-radius: 10px;
}

.userModal .close-btn {
  width: 10%;
  align-self: end;
}

.userModal .close-btn button {
  background-color: white;
  border: none;
  font-size: 20px;
  color: grey;
  font-weight: bold;
}

.userModal .userInfo-form div {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  color: grey;
}

.userModal .userInfo-form div input {
  margin-top: 2px;
  border: none;
  border-bottom: 2px solid grey;
}

.userInfo-form button {
  margin-top: 15px;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 30%;
  height: 25px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #ff6600;
}

/* for message container */
.error-message {
  margin-top: 10px;
  margin-left: 50%;
  padding: 0 0 0 6px;
  transform: translateX(-50%);
  background-color: white;
  color: red;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid red;
  border-radius: 4px;
}

.error-message button {
  border: none;
  background-color: white;
}