.user-certificate {
  padding: 12px 6px 6px 12px;
}

.user-certificate-container {
  border: 2px solid lightgrey;
  padding: 3px;
}

.user-certificate-box {
  border: 1px solid lightgrey
}

.user-certificate-info {
  display: flex;
}

.user-certificate-imgBox {
  width: 80px;
  height: 80px;
}

.user-certificate-imgBox img {
  width: 80px;
  height: 80px;
}

.user-certificate-linkBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 3%;
  font-size: 12px;
}