/* header of admin pages */
.admin-header {
  width: 100%;
  height: 50px;
  background-color: #1d3557;
}

.admin-header-box {
  width: 40%;
  height: 100%;
  margin-left: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
  color: white;
  font-weight: 700;
}

.admin-header-box a {
  font-size: 14px;
  color: white;
  font-weight: 700;
  text-decoration: none;
}

.admin-header-box button {
  border: none;
  padding: 0;
  background-color: #1d3557;
  color: white;
  font-size: 16px;
  font-weight: 700;
}

/* link area */
.admin-links {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: flex-end;
}

.admin-links a {
  text-decoration: none;
  width: 10%;
  text-align: center;
  color: #1d3557;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 2px solid white;
}

.admin-links a.active {
  border-bottom: 2px solid #ff6600;
}